<fieldset id="listFilter">
  <legend>{{ heading_title }}</legend>

<div class="input-group">
    <input id="typefilter" class="search form-control" placeholder="{{ text_filter }}" title="{{ text_filter }}" autofocus />
    <span class="input-group-btn"><button class="btn btn-default" type="button" data-state="1" id="toglechild" title="{{ text_togglechild }}"><i class="fa fa-arrow-up"></i></button></span>
    <span class="input-group-btn"><button class="btn btn-default sort" type="button" data-sort="name" title="{{ text_sortname }}"><i class="fa fa-sort-alpha-asc"></i></button></span>
    <span class="input-group-btn"><button class="btn btn-default sort" type="button" data-sort="status" title="{{ text_sortstatus }}"><i class="fa fa-toggle-on "></i></button></span>
    <span class="input-group-btn"><button class="btn btn-default" type="button" id="refreshlist" title="{{ text_refresh }}"><i class="fa fa-refresh"></i></button></span>
</div>
<script type="text/javascript"><!--
    var objList = new List('listFilter', {
        valueNames: ['name', 'status']
    });
    $('#typefilter').focus();
    $('#toglechild').click(function() {
        $('#typefilter').val('');
        objList.search(''); // Remove filters
        if ($(this).data('state') == 0) {
            $('.child').parent().show();
            $(this).data('state', '1');
            $(this).html('<i class="fa fa-arrow-up"></i>');
        } else {
            $('.child').parent().hide();
            $(this).data('state', '0');
            $(this).html('<i class="fa fa-arrow-down"></i>');
        }
    });
    $('#refreshlist').click(function() {
        objList.clear(); // clear list
        $('select[name="type"]').trigger('change');
    });
//--></script>
         
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_layout }}</div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td class="text-left">{{ column_name }}</td>
          <td class="text-left">{{ column_status }}</td>
          <td class="text-right text-nowrap">{{ column_action }}</td>
        </tr>
      </thead>
      <tbody class="list">
      
      {% if extensions %}
      {% for extension in extensions %}
      <tr>
        <td class="name"><b>{{ extension.name }}</b></td>
        <td class="text-left status">{{ extension.module ? '' : extension.status }}</td>
        <td class="text-right text-nowrap">{% if extension.installed %}
          {% if extension.module %} <a href="{{ extension.edit }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></a> {% else %} <a href="{{ extension.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a> {% endif %}
          {% else %}
          <button type="button" class="btn btn-primary" disabled="disabled"><i class="fa fa-pencil"></i></button>
          {% endif %}
          {% if not extension.installed %}<a href="{{ extension.install }}" data-toggle="tooltip" title="{{ button_install }}" class="btn btn-success"><i class="fa fa-plus-circle"></i></a> {% else %} <a href="{{ extension.uninstall }}" data-toggle="tooltip" title="{{ button_uninstall }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></a>{% endif %}</td>
      </tr>
      {% for module in extension.module %}
      <tr>
        <td class="text-left name child">&nbsp;&nbsp;&nbsp;<i class="fa fa-folder-open"></i>&nbsp;&nbsp;&nbsp;{{ module.name }}</td>
        <td class="text-left status">{{ module.status }}</td>
        <td class="text-right text-nowrap"><a href="{{ module.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-info"><i class="fa fa-pencil"></i></a> <a href="{{ module.delete }}" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-warning"><i class="fa fa-trash-o"></i></a></td>
      </tr>
      {% endfor %}
      {% endfor %}
      {% else %}
      <tr>
        <td class="text-center" colspan="3">{{ text_no_results }}</td>
      </tr>
      {% endif %}
      </tbody>
      
    </table>
  </div>
</fieldset>
